*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}
center{
	position:relative;
	margin:25px auto;
	width:400px;
	height:50px;

	border:5px solid black;
	border-radius: 10px;	
    background: rgb(68, 68, 68);

    text-align:center;
	line-height:50px;
	color:white;
	font-weight:bold;
	
}
#calculadora{
    position:relative;
	margin:25px auto;
	width:400px;
	height:600px;

	border:1px solid black;
	border-radius:20px;
	background:rgb(7, 3, 48);

    box-shadow:5px 5px 10px 10px #999;
}
#consola{
	position:relative;
	margin:30px auto;
	padding:6%;
    width:70%;
	
	border:1px solid #ccc;
	border-radius:10px;
    background:rgb(178, 255, 255);
	box-shadow:5px 5px 10px black;
	
	text-align:right;
	font-size:25px;
	overflow:hidden;
}
#calculadora ul{
    margin-left:25px;
}
#calculadora ul li{
	float:left;
	margin:10px; /*.5*/
    padding:25px;
	width:15px;

	border:1px solid #aaa;
	border-radius:5px;
	box-shadow:5px 5px 10px black;

    text-align:center;
	font-weight:bold;
	cursor:pointer;	
    color: white;
    font-size:16px;
}
.numero{
	background:rgb(44, 44, 44);
}
.signo{
	background:rgb(130, 0, 0);
}
.igual{
	background:rgb(34, 113, 179);
}
.decimal{
	background:rgb(80, 80, 80);
}
#calculadora ul li:hover{
	background:rgb(110, 110, 110);
	color:white;
}

#calculadora ul li:active{
	background:rgb(36, 0, 36);
	color:white;
}

#borrar{
	position:absolute;
	bottom:30px;
    left: 120px;

	padding: 15px;
	width:125px;

	background:rgb(216, 59, 6);
	border-radius:10px;
	border:1px solid white;

	color:white;
	cursor:pointer;
    text-align:center;
}
#borrar:hover{
	background:rgb(110, 110, 110);;
}
#borrar:active{
	background:rgb(36, 0, 36);
}
